body{
    background-color: #FE8176;
    color: #211;
}

.loadingbar{
    width:100%;
    height:20px;
    background-color: gray;
    border-radius: 10px;
    overflow: hidden;
}
.loadinginner{
    border-radius: 10px;
    background-image: linear-gradient(45deg, #bb3333 25%, #881111 25%, #881111 50%, #bb3333 50%, #bb3333 75%, #881111 75%, #881111 100%);
    background-size: 28.28px 28.28px;
    height:100%;
    margin:0;
    text-align: center;
    margin-top:-20px;
}

.percent{
    color:#ddd;
}

.notches{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.notch{
    background-color: #ddd7;
    width: 1px;
    height:20px;
}

.times{
    display: flex;
    justify-content: space-between;
}

.section-visual{
    width:calc(100% - 20px);
    background-color: #EE7166;
    border: #211 solid 1px;
    border-radius: 3px;
    padding-left:10px;
    padding-right:10px;
}

.section-visual p{
    margin-top: 2px;
}

#innertitle{
    text-decoration-line:line-through;
}
.title{
    margin-bottom:2px;
}
.subtitle{
    margin-top:2px;
    display: none;
}